<% provide(:title, 'Home') %>
<div class="container home">
  <h1 class="title"> Nuestros Clientes en Barranquilla</h1>
  <div id="nosotros">
    <div class="col-lg-4 ">
      <img class="img_home" src="<%= asset_path("entrada1.png") %>">
    </div>
    <div class="col-lg-4">
      <img class="img_home" src="<%= asset_path("entrada2.png") %>">
    </div>
    <div class="col-lg-4">
      <img class="img_home" src="<%= asset_path("entrada3.png") %>">
    </div>
  </div>
  <h1 class="title"> Nuestros Cupones en Barranquilla</h1>
  <div id="nosotros2">
  <div class="col-lg-4 jumbotron2">
    <p>Calendario del año 2016 - 25% de descuento</p>
    <img class="img_home" src="<%= asset_path("calendar.jpg") %>">
    </div>
  <div class="col-lg-4 jumbotron2">
  <p>
    Reloj rolex Oyster Perpetual - 14% de descuento</p>
    <img class="img_home" src="<%= asset_path("reloj.jpg") %>">
  </div>
  <div class="col-lg-4 jumbotron2">
  <p>
    12 pastillas de vitamina C - 20% de descuento</p>
    <img class="img_home" src="<%= asset_path("vitamina.jpg") %>">
  </div>
  </div>
</div>