<% provide(:title, "Editar tu usuario") %><%= form_for(@user) do |f| %>
	<%= render 'layouts/errors' %>
	<div class="input-group input-group-lg">
		<%=f.label :name, 'Nombre o nickname', class: "input-group-addon" %>
		<%=f.text_field :name, class: "form-control" %>
	</div>
	<div class="input-group input-group-lg">
		<%=f.label :email,class: "input-group-addon", id:"name-input" %>
		<%=f.text_field :email, class: "form-control" %>
	</div>
	<div class="input-group input-group-lg">
		<%=f.label :password,"Contraseña",class: "input-group-addon"%>
		<%=f.password_field :password, class: "form-control" %>
	</div>
	<div class="input-group input-group-lg">
		<%=f.label :password_confirmation,"Confirma tu contraseña",class: "input-group-addon"%>
		<%=f.password_field :password_confirmation, class: "form-control" %>
	</div>
	<%= f.submit "Registrarse", class: "btn btn-info btn-block" %>
<% end %>
